<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Transalate speech using Google Cloud Speech API">
    <meta name="author" content="Vijay Nandwani">
    <link rel="icon" href="favicon.ico">

    <title>Cloud translate</title>

    <!-- Bootstrap core CSS -->
    <link href="static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron" id="main-window">
        <h1>Cloud Translate</h1>
        <p>Click on 'record' to start recording and 'stop' to translate the speech to english</p>
        <select id="speech_record_language" name="speech_record_language">
          <option value="af-ZA">Afrikaans (Suid-Afrika)</option>
          <option value="id-ID">Bahasa Indonesia (Indonesia)</option>
          <option value="ms-MY">Bahasa Melayu (Malaysia)</option>
          <option value="ca-ES">Català (Espanya)</option>
          <option value="cs-CZ">Čeština (Česká republika)</option>
          <option value="da-DK">Dansk (Danmark)</option>
          <option value="de-DE">Deutsch (Deutschland)</option>
          <option value="en-AU">English (Australia)</option>
          <option value="en-CA">English (Canada)</option>
          <option value="en-GB">English (Great Britain)</option>
          <option value="en-IN">English (India)</option>
          <option value="en-IE">English (Ireland)</option>
          <option value="en-NZ">English (New Zealand)</option>
          <option value="en-PH">English (Philippines)</option>
          <option value="en-ZA">English (South Africa)</option>
          <option value="en-US" selected="selected">English (United States)</option>
          <option value="es-AR">Español (Argentina)</option>
          <option value="es-BO">Español (Bolivia)</option>
          <option value="es-CL">Español (Chile)</option>
          <option value="es-CO">Español (Colombia)</option>
          <option value="es-CR">Español (Costa Rica)</option>
          <option value="es-EC">Español (Ecuador)</option>
          <option value="es-SV">Español (El Salvador)</option>
          <option value="es-ES">Español (España)</option>
          <option value="es-US">Español (Estados Unidos)</option>
          <option value="es-GT">Español (Guatemala)</option>
          <option value="es-HN">Español (Honduras)</option>
          <option value="es-MX">Español (México)</option>
          <option value="es-NI">Español (Nicaragua)</option>
          <option value="es-PA">Español (Panamá)</option>
          <option value="es-PY">Español (Paraguay)</option>
          <option value="es-PE">Español (Perú)</option>
          <option value="es-PR">Español (Puerto Rico)</option>
          <option value="es-DO">Español (República Dominicana)</option>
          <option value="es-UY">Español (Uruguay)</option>
          <option value="es-VE">Español (Venezuela)</option>
          <option value="eu-ES">Euskara (Espainia)</option>
          <option value="fil-PH">Filipino (Pilipinas)</option>
          <option value="fr-FR">Français (France)</option>
          <option value="gl-ES">Galego (España)</option>
          <option value="hr-HR">Hrvatski (Hrvatska)</option>
          <option value="zu-ZA">IsiZulu (Ningizimu Afrika)</option>
          <option value="is-IS">Íslenska (Ísland)</option>
          <option value="it-IT">Italiano (Italia)</option>
          <option value="lt-LT">Lietuvių (Lietuva)</option>
          <option value="hu-HU">Magyar (Magyarország)</option>
          <option value="nl-NL">Nederlands (Nederland)</option>
          <option value="nb-NO">Norsk bokmål (Norge)</option>
          <option value="pl-PL">Polski (Polska)</option>
          <option value="pt-BR">Português (Brasil)</option>
          <option value="pt-PT">Português (Portugal)</option>
          <option value="ro-RO">Română (România)</option>
          <option value="sk-SK">Slovenčina (Slovensko)</option>
          <option value="sl-SI">Slovenščina (Slovenija)</option>
          <option value="fi-FI">Suomi (Suomi)</option>
          <option value="sv-SE">Svenska (Sverige)</option>
          <option value="vi-VN">Tiếng Việt (Việt Nam)</option>
          <option value="tr-TR">Türkçe (Türkiye)</option>
          <option value="el-GR">Ελληνικά (Ελλάδα)</option>
          <option value="bg-BG">Български (България)</option>
          <option value="ru-RU">Русский (Россия)</option>
          <option value="sr-RS">Српски (Србија)</option>
          <option value="uk-UA">Українська (Україна)</option>
          <option value="he-IL">עברית (ישראל)</option>
          <option value="ar-IL">العربية (إسرائيل)</option>
          <option value="ar-JO">العربية (الأردن)</option>
          <option value="ar-AE">العربية (الإمارات)</option>
          <option value="ar-BH">العربية (البحرين)</option>
          <option value="ar-DZ">العربية (الجزائر)</option>
          <option value="ar-SA">العربية (السعودية)</option>
          <option value="ar-IQ">العربية (العراق)</option>
          <option value="ar-KW">العربية (الكويت)</option>
          <option value="ar-MA">العربية (المغرب)</option>
          <option value="ar-TN">العربية (تونس)</option>
          <option value="ar-OM">العربية (عُمان)</option>
          <option value="ar-PS">العربية (فلسطين)</option>
          <option value="ar-QA">العربية (قطر)</option>
          <option value="ar-LB">العربية (لبنان)</option>
          <option value="ar-EG">العربية (مصر)</option>
          <option value="fa-IR">فارسی (ایران)</option>
          <option value="hi-IN">Hindi (भारत)</option>
          <option value="th-TH">ไทย (ประเทศไทย)</option>
          <option value="ko-KR">한국어 (대한민국)</option>
          <option value="cmn-Hant-TW">國語 (台灣)</option>
          <option value="yue-Hant-HK">廣東話 (香港)</option>
          <option value="ja-JP">日本語（日本）</option>
          <option value="cmn-Hans-HK">普通話 (香港)</option>
          <option value="cmn-Hans-CN">普通话 (中国大陆)</option>
        </select>
        <button onclick="startRecording(this);">record</button>
        <button onclick="stopRecording(this);" disabled>stop</button>
      </div>
    </div><!-- /.container -->

    <script>
    var audio_context;
    var recorder;

    function startUserMedia(stream) {
      var input = audio_context.createMediaStreamSource(stream);
      recorder = new Recorder(input);
    }

    function startRecording(button) {
      recorder && recorder.record();
      button.disabled = true;
      button.nextElementSibling.disabled = false;
    }

    function stopRecording(button) {
      recorder && recorder.stop();
      button.disabled = true;
      button.previousElementSibling.disabled = false;
      upload();
      recorder.clear();
    }

  function upload() {
    recorder && recorder.exportWAV(function(blob) {
      var formdata=new FormData();
      formdata.append("file_to_convert.wav",blob);
      formdata.append('language',$("#speech_record_language").val());//you can append it to formdata with a proper parameter name 

      $.ajax({
          url : 'http://139.59.35.176:5000/upload',
          dataType : 'json',
          cache : false,
          contentType : false,
          processData : false,
          data : formdata,
          type : 'post',
          success : function(response) {
            console.log(response);
            $( "#main-window" ).append( "<br><br>--------<p><strong>Original Text:</strong> </p>" + response.text + "<p><strong>Translated Text:</strong> </p>" + response.translated_text );
          }
      });
    });
  }

  window.onload = function init() {
    try {
      // webkit shim
      window.AudioContext = window.AudioContext || window.webkitAudioContext;
      navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia;
      window.URL = window.URL || window.webkitURL;
      
      audio_context = new AudioContext;
    } catch (e) {
      alert('No web audio support in this browser!');
    }
    
    navigator.getUserMedia({audio: true}, startUserMedia, function(e) {
      console.log('No live audio input');
    });
  };
  </script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="static/bootstrap.min.js"></script>
    <script src="static/recorder.js"></script>
  </body>
</html>
